:root{
    /* Color*/
    /* Size */
    --side-pandding: 12px;
    /* Font Size */
    --font-title:20px;
}
::selection {
   background: #cce2ff;
   color: black;
   
}

/* 펀딩 리스트 (부모) */
.fundingList{
    margin: 0 auto;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   	widows: 1100px;
}
/* 리스트 정보( 버튼3개) */
.listInfo{
    display: flex;
    margin: 0;
    padding-left: 14px;
}

.listLength{
    font-size: 15px;
    line-height: 24px;
    margin: 0px,0px,0px,0px;
    color: rgb(61, 61, 61);
    letter-spacing: -0.08px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
}
.listLength .orderBy{
    background: url( "../../images/mainpage/ranking.PNG" ) no-repeat;
    border: none;
    width: 77.34px;
    height: 34px;
}

/* --------------------Rapper------------------------ */
.fundingList .itemRapper{
    display: flex;
    flex-direction: column;
}

/* 여기에 wrap */
.fundingList .itemRapper .itemInrap1{
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
}

.fundingList .itemRapper .itemInrap2{
    display: flex;
    margin-top: 250px;
}
/* --------------------------------------------- */

/* Buttons */
.fundingList .listInfo .status{
    background: url( "../../images/mainpage/stats.PNG" ) no-repeat;
    border: none;
    width: 65.5px;
    height: 34px;
    margin: 0;
    margin-right: 15px;
    
}
.fundingList .listInfo .achiev{
    background: url( "../../images/mainpage/rate.PNG" ) no-repeat;
    border: none;
    width: 78.34px;
    height: 34px;
    margin: 0;
    margin-right: 15px;
}
.fundingList .listInfo .recommend{
    background: url( "../../images/mainpage/choice.PNG" ) no-repeat;
    border: none;
    width: 91px;
    height: 34px;
    margin: 0;
}

/* 게시판 제목 */
.fundingList .listTitle{
    width: 93%;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.025em;
    margin: 0px 0px 10px;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    max-height: 58px;
    word-break: keep-all;
    overflow-wrap: break-word;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 14px;
}

.fundingList .listLength .fundcount{
    color: rgb(255, 87, 87);
    font-size: 15px;
    padding-right: 0px;
    padding-left: 14px;
}