.input{
    display: flex; 
    flex-direction: column;
}

.input>input{
    width: 600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;}

.categoryref{
    margin: auto;
    display: flex;
}