.itemParent{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.itemInfo{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}