@charset "UTF-8";
.orderHeader{
    border-bottom: 1px solid rgb(230, 230, 230);
}
.orderH1{
    padding: 38px 24px 32px;
    /* border-bottom: 1px solid rgb(230, 230, 230); */
}
.orderH1 h1{
	font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.035em;
    font-weight: 200;
    margin: 0;
}
.orderList{
    display: flex;
    flex-wrap: wrap;
    padding: 14px 24px 24px;
}
.orderCntSearch{
    line-height: 44px;
    display: flex;
    width: 100%;
}
.orderCnt{
    width: 57%;
    display: flex;
}
.orderCnt>span{
	color: rgb(255, 87, 87);
}
.orderSearch{
    width: 43%;
    margin: 0;
    display: flex;
    border: 1px solid rgb(230, 230, 230);
    padding: 0px 0px 0px 12px;
    max-height: 44px;
    min-width: 100px;
    align-items: center;
    border-radius: 4px;
    text-align: center;
}
.orderSearch>div{
    position: absolute;
    display: inline-flex;
    width: 20px;
    height: 20px;
    align-items: center;
}
.orderSearch>div>img{
    display: flex;
    min-width: 32px;
    transform: scale(0.5);  
}
.orderSearch>input{
    display: flex;
    font-size: 14px;
    width: 100%;
    background: transparent;
    border: none;
    padding: 11px 0px;
    box-sizing: border-box;
    height: 100%;
    outline: none;
    margin-left: 35px;
}

.noOrderContent{
	margin: 0 auto;
}
.noContent{
    padding: 128px 0px 151px;
    text-align: center;
}
.noContent>img{
	width: 75px;
}
.orderContent{
	width: 100%;
	padding-top: 48px;
}
.order{
	margin-bottom: 40px;
}
.orderCont{
	margin-bottom: 10px;
}
.orderResult{
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: rgb(61, 61, 61);
    margin-left: 16px;
}
.eachOrderContent{
    border: 1px solid rgb(230, 230, 230);
    display: flex;
    padding: 20px;
}
.orderImg{
	margin-right: 20px;
	width: 154px;
    height: 116px;
}
.orderImg>a>img{
	width: 154px;
    height: 116px;
}

.datePayno{
	font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: rgb(109, 109, 109);
}
.longTitle{
    line-height: 24px;
    font-weight: bold;
}
.rewardName{
	font-size: 14px;
    line-height: 24px;
    color: rgb(109, 109, 109);
    margin-top: 3px;
}
.rewardItem{
    line-height: 18px;
    letter-spacing: -0.005em;
    color: rgb(61, 61, 61);
}
.rewardItem>div{
	font-size: 12px;
	margin-top: 8px;
}
.rewardItem>ul{
	padding-left: 16px;
	list-style-type: disc;
}
.rewardItem>ul>li{
	font-size: 11px;
	margin: 0 4px;
	list-style-type: disc;
    color: rgb(109, 109, 109);
}
.deliverDate{
	margin-top: 8px;
	font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.005em;
    color: rgb(255, 87, 87);
}
.totalPrice{
	font-size: 12px;
	color: rgb(61, 61, 61);
	line-height: 1.7em;
}