@charset "UTF-8";
/* @import url("./baselayer.css"); */
:root{
  --main-width :1056px
}
a{
  text-decoration: none;
  /* text-shadow: 1px 1px 1px rgba(0,0,0,0.2); */
  color: black;
  white-space: nowrap;
}
.header {
  all: initial;
}
.header-container{
  height: 116px;
  margin-top: 10px;
  /* box-shadow: rgb(0 0 0 / 8%) 0px 6px 7px; */
  box-shadow: rgb(0 0 0 / 15%) 0px 10px 10px -10px;
  /* height: auto; */
}

/* --header-upper-- */
.header-upper{
  height: 60px;
  padding: 0;
  line-height: 60px;
  width: 1080px;
  margin: auto;
}
.user-menu {
  float: right;
  margin: 0;
  position: relative;
}
.user-menu > ul{
  margin: 0px;
}
.user-menu > ul > li {
  float: left;
}
.user-menu > ul > li > a{
  display: block;
  line-height: 60px;
}
/* .user-menu ul li:not(:last-child){
  margin-right: 30px;
} */
.user-li{
  font-size: 12px;
  font-weight: bold;
  color: #545454;
  padding: 16px;
}
.login{
  margin-left: 10px;
  border: 1px solid rgb(223, 223, 223);
  box-sizing: border-box;
  border-radius: 4px;
}
.login > img{
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border-radius: 70%;
  overflow: hidden;
  object-fit: cover;
  border: 2px solid rgb(223, 223, 223);
}
.login > span{
  margin-left: 10px;
  padding: 0px;
}
.user-logo > a > img{
  vertical-align: middle;
}
.login-dropdown{
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1200;
  right: 0px;
  width: 240px;
  transition: all 0.3s ease-in-out 0s;
  border: 1px solid rgb(228, 228, 228);
  box-sizing: border-box;
  border-radius: 4px;
}
.dropdown-content a {
  color: black;
  display: block;
  text-align: left;
  padding: 4px 16px;
  display: flex;
  width: 100%;
  height: 46px;
  min-height: 46px;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  transition: all 0.3s ease-in-out 0s;
}
.login-dropdown:hover .dropdown-content{
	display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

/* --header-content-- */
.header-content{
  position: relative;
  background: rgb(255, 255, 255);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 56px;
  z-index: 999;
  /* border-bottom: 1px solid rgb(230, 230, 230); */
}
.header-search{
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1080px;
  min-height: 56px;
  background: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.cate-navbar{
  /* height: 56px; */
  position: relative;
  display: flex;
  width: 100%;
  min-height: 56px;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: nowrap;
  user-select: none;
}
.main-menu{
  /* float: left; */
  display: inline-block;
}
.main-menu > li{
  text-align: center;
  padding: 0px 6px;
  min-height: 56px;
  position: relative;
  margin-right: 18px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: rgb(13, 13, 13);
  cursor: pointer;
  flex-shrink: 0;
  transition: all 0.2s ease-in-out 0s;
  font-weight: 600;
}
.main-menu > li > a {
  display: block;
  font-size: 13px;
  font-weight: bold;
  color: #545454;
}
.main-menu > li:not(:last-child){
  margin-right: 30px;
}
.main-menu > li > a{
  font-size: 15px;
  color: rgb(13, 13, 13);
  font-weight: 600;
}
ul.category{
  position: absolute;
  z-index: 1;
  /* opacity: 0.7; */
  display: flex;
  background-color: white;
  max-width: 1080px;
  visibility: hidden;
  /* y축설정 */
  transform:translateY(-50%);
  overflow-x: auto;
  top: 55px;
  left: 0;
  padding: 0 0 0 20px;
  height: 62px;
}
ul.category > li{
  padding: 0 3px;
  /* width: 60px; */
  /* margin-right: 10px; */
  text-align: center;
  height: 100%;
  border-right: 2px dashed rgb(223, 223, 223);
}
ul.category > li:first-child{
  border-left: 2px dashed rgb(223, 223, 223);
}
ul.category > li > div {
  margin: 9px 5px;
}
ul.category > li > a{
  width: 100%;
  /* color: rgba(255,255,255,0.6); */
  text-decoration: none;
  font-size: 13px;
  word-break: keep-all;
  display: inline-block;
  line-height: 18px;
}
.main-menu>.cate:hover ul.category{
  /* 비져블코드 */
  visibility: visible;
  transition:all 0.6s;
  transform:translateY(0%);
}
.search{
  position: relative;
  padding: 0px 16px;
  display: inline-flex;
  width: 260px;
  height: 36px;
  background: rgb(243, 243, 243);
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.3);
}
.search>form>input{
  border: none;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.02em;
  background: rgb(243, 243, 243);
  color: rgb(51, 51, 51);
  appearance: none;
  outline: none;
}
.search>form>div{
  position: absolute;
  display: inline-flex;
  width: 20px;
  height: 20px;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 10px;
}
.search>form>div>img{
  display: flex;
  min-width: 48px;
  transform: scale(0.3);
  cursor: pointer;
}

/* -------------------------- */

/* 메뉴 손가락올릴떄 */
.cate:hover{
  color: tomato;
  transition:color 0.2s;
}
.category > li:hover{
  background-color: rgb(250, 108, 83);
  transition:color 0.3s;
}