@charset "UTF-8";

.signup-page * {
  width: 100%;
  margin: auto;
  max-width: 1100px;
  box-sizing: border-box;
  padding: 0;
}
.logo > a > img {
  display: block;
  margin: auto;
  width: 200px;
}
.signup_box {
  width: 60%;
  margin: auto;
  padding: 0;
}
.signup_box2 {
  width: 90%;
}
.signup_box2 > input {
  height: 35px;
  margin: 5px;
  border: 1px solid;
  border-radius: 4px;
}
.signup_box2 > button {
  height: 35px;
  margin: 5px;
  border: 1px solid;
  border-radius: 4px;
}
.signup-check {
  font-size: 50%;
  color: red;
}
