
.fundingList {
    margin-top: 80px;
    border-top: 1px solid gainsboro;
}



.slick-prev{

}


/* --------------------Rapper------------------------ */
.fundingList .itemRapper{
    display: flex;
    flex-direction: column;
}

/* intem-rpper 부모--------------------------------------------------------- */
.fundingList .itemRapper .itemInrap1{
    display: flex;
    overflow-x: hidden;
}


/* d이쪽 */
/* 인기프로젝트 리스트 형식---------------10개중4개만표시 나머지 짜름 */
    /* transform: translateX(-20%); */





/* ------------------------------------------------------------------ */
.fundingList .itemRapper .itemInrap2{
    display: flex;
    margin-top: 250px;
}
/* ----------------아이템---------------------------- */
.item{
    /* 플렉스 00 추가해야 nowarp해도 flex애들끼리 꽉 안붙음 */
    flex: 0 0 auto;
    display: inline-block;
    flex-basis: 250px;
    flex-grow: 1;
    margin-bottom: 50px;
    padding-right: 14px;
    width: 200px;
    transition: all 0.5s; 
}

.catelink{
    display: flex;
}
.catelink a{
    text-decoration-line: none;
     color: inherit;
}

/* Buttons */
.fundingList .listInfo .status{
    background: url( "../../../../images/mainpage/stats.PNG" ) no-repeat;
    border: none;
    width: 65.5px;
    height: 34px;
    margin: 0;
    margin-right: 15px;
    
}
.fundingList .listInfo .achiev{
    background: url("../../../../images/mainpage/rate.PNG" ) no-repeat;
    border: none;
    width: 78.34px;
    height: 34px;
    margin: 0;
    margin-right: 15px;
}
.fundingList .listInfo .recommend{
    background: url( "../../../../images/mainpage/choice.PNG" ) no-repeat;
    border: none;
    width: 91px;
    height: 34px;
    margin: 0;
}

/* 아이템 이미지 ---------------------------------------------------*/
.item .item-image{
    /* 최소 :321.797 x 241.336 */
    /* 최대 :631.500 x 473.625 */
    margin: 0px;
    width: 100%;
    height: auto;
    padding: 0px;
    overflow-x: hidden;
    border-radius: 4px;
    background: #f6f5f5;
    /* 메인화면 */


    min-width: 226.797px;
    min-height: 195px;
    max-width: 429.500px;
    max-height: 329.652px;
}

.priceAndPercent img{
    margin-top: 3px;
    height: 20px;
    width: 20px;
    min-width: 20px;
}


button,
button:focus{
    border:  none;
    cursor: pointer;
    outline: none;
}


/* 게시판 제목 */
.fundingList .listTitle{
    width: 93%;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.025em;
    margin: 0px 0px 10px;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    max-height: 58px;
    word-break: keep-all;
    overflow-wrap: break-word;
    margin-bottom: 10px;
    margin-top: 30px;
    
}
.fundingList .title{
    height: 50px;
    width: 93%;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.025em;
    margin: 0px 0px 0px;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    max-height: 58px;
    word-break: keep-all;
    overflow-wrap: break-word;
    margin-top: -10px;
}

.fundingList .listLength .fundcount{
    color: rgb(255, 87, 87);
    font-size: 15px;
    padding-right: 0px;
    padding-left: 14px;
}

.fundingList .info{
    height: 100px;
}

.fundingList .info .category{
    /* 여기마진 */
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    margin: 0;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: rgb(158, 158, 158);
    padding: 0px 3px 10px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

.fundingList .info .company{
    font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    margin: 0;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: rgb(158, 158, 158);
    padding: 0px 5px 0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}


.fundingList .info .iteminfo{
font-family: 'SF Pro Text', 'Helvetica Neue', 'Segoe UI', Arial, 'NotoSansKR', sans-serif;
    font-size: 14px;
    margin: 0 ;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 12px;
    letter-spacing: -0.015em;
    font-weight: 400;
    background: #FFF;
    color: #3d3d3d;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 48px;
    max-height: 48px;
    word-break: keep-all;
}

.fundingList .priceAndPercent{
    display: flex;
    width: 100%;
    max-width: 631.500px;
    margin-top: -20px;
    margin-left: -10px;
    max-height: 473.652px;
}

.fundingList .info .percent{
    font-size: 14px;
    margin: 10px ;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    background: #FFF;
    color: rgb(255, 87, 87);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}
