@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');
* {
  box-sizing: border-box;
  color: #3d3d3d;
}
body{
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	min-width: 992px;
	background-color: white;

  	max-width: 1080px;
	margin-right: auto;
    margin-left: auto;
}
a{
	font: inherit;
}

section{
  /*
	max-width: 1080px;
	margin-right: auto;
    margin-left: auto;
    */
}
ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
  }