@charset "UTF-8";
.interest-header{
    border-bottom: 1px solid rgb(230, 230, 230);
}
.interest-h1{
    padding: 38px 24px 32px;
}
.interest-h1 h1{
	font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.035em;
    font-weight: 200;
    margin: 0;
}
.interest-select{
    padding: 0 28px;
    font-size: 18px;
    height: 56px;
    line-height: 56px;
}
.interest-select span{
    margin-right: 32px;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}
.interest-select span a{
    /* font-weight: bold;
    color: rgb(61, 61, 61); */
    color: rgb(158, 158, 158);
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.020em;
}
.selected-span{
	border-bottom: 4px solid black;
}
.not-selected-a:hover{
    color: black;
    font-weight: bold;
}
.selected-a{
	font-weight: bold;
}
.no-content{
    padding: 128px 0px 151px;
    text-align: center;
}
.no-content>img{
	width: 75px;
}

.alarmrequest{
	height: 37px;
	display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;
    color: rgb(109, 109, 109);
    font-size: 14px;
    font-weight: 600;
    background: white;
    padding-top: 7px;
}

.itemContent{
    padding: 0px 12px;
}