.settings-default * {
  width: 100%;
  margin: auto;
  max-width: 1100px;
  box-sizing: border-box;
  padding: 0;
}
.settings-box * {
  margin: 10px 20px;
  width: 600px;
}
.settings_subtitle {
  font-weight: bold;
  font-size: 16px;
}
.update-button {
  color: rgb(39, 163, 255);
  width: 30px;
}
.profile-img-viewer {
  width: 50px;
}
.card {
  border: solid 1px black;
}
.address {
  border: solid 1px black;
}
.withdrawal {
  color: red;
  width: 30px;
}
.add-btn {
  width: 50px;
  color: rgb(39, 163, 255);
}
