.settings-default * {
  width: 100%;
  margin: auto;
  max-width: 1100px;
  box-sizing: border-box;
  padding: 0;
}
.settings-box * {
  margin: 10px 20px;
  width: 600px;
}
.settings_subtitle {
  font-weight: bold;
  font-size: 16px;
}
button {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  color: rgb(39, 163, 255);
}
.profile-img-viewer {
  width: 50px;
}
